.u-section-1 .u-sheet-1 {
  min-height: 474px;
}

.u-section-1 .u-blog-1 {
  margin-top: -27px;
  margin-bottom: 60px;
  height: auto;
}

.u-section-1 .u-repeater-1 {
  grid-auto-columns: calc(33.3333% - 14.6667px);
  grid-template-columns: repeat(3, calc(33.3333% - 14.6667px));
  min-height: 443px;
  grid-gap: 22px;
}

.u-section-1 .u-repeater-item-1 {
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 20px;
}

.u-section-1 .u-text-1 {
  margin: 0;
}

.u-section-1 .u-image-1 {
  height: 222px;
  margin-top: 17px;
  margin-bottom: 0;
}

.u-section-1 .u-text-2 {
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  border-style: solid;
  margin: 17px auto 0 0;
  padding: 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 20px;
}

.u-section-1 .u-text-3 {
  margin: 0;
}

.u-section-1 .u-image-2 {
  height: 222px;
  margin-top: 17px;
  margin-bottom: 0;
}

.u-section-1 .u-text-4 {
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  border-style: solid;
  margin: 17px auto 0 0;
  padding: 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px 20px;
}

.u-section-1 .u-text-5 {
  margin: 0;
}

.u-section-1 .u-image-3 {
  height: 222px;
  margin-top: 17px;
  margin-bottom: 0;
}

.u-section-1 .u-text-6 {
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  border-style: solid;
  margin: 17px auto 0 0;
  padding: 0;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px 20px;
}

.u-section-1 .u-text-7 {
  margin: 0;
}

.u-section-1 .u-image-4 {
  height: 222px;
  margin-top: 17px;
  margin-bottom: 0;
  background-image: url("images/8ad73f3c.jpeg");
  background-position: 50% 50%;
}

.u-section-1 .u-text-8 {
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-1 .u-btn-4 {
  background-image: none;
  border-style: solid;
  margin: 17px auto 0 0;
  padding: 0;
}

.u-section-1 .u-container-layout-5 {
  padding: 30px 20px;
}

.u-section-1 .u-text-9 {
  margin: 0;
}

.u-section-1 .u-image-5 {
  height: 222px;
  margin-top: 17px;
  margin-bottom: 0;
  background-image: url("images/68f64b9d.jpeg");
  background-position: 50% 50%;
}

.u-section-1 .u-text-10 {
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-1 .u-btn-5 {
  background-image: none;
  border-style: solid;
  margin: 17px auto 0 0;
  padding: 0;
}

.u-section-1 .u-container-layout-6 {
  padding: 30px 20px;
}

.u-section-1 .u-text-11 {
  margin: 0;
}

.u-section-1 .u-image-6 {
  height: 222px;
  margin-top: 17px;
  margin-bottom: 0;
  background-image: url("images/0fd3416c.jpeg");
  background-position: 50% 50%;
}

.u-section-1 .u-text-12 {
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-1 .u-btn-6 {
  background-image: none;
  border-style: solid;
  margin: 17px auto 0 0;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 484px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 366px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 956px;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: calc(50% - 11px);
    grid-template-columns: repeat(2, calc(50% - 11px));
    min-height: 647px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-repeater-1 {
    grid-auto-columns: 100%;
    grid-template-columns: repeat(1, 100%);
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-1 {
    height: 278px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-2 {
    height: 278px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-3 {
    height: 278px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-4 {
    height: 278px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-5 {
    height: 278px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-6 {
    height: 278px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 400px;
}

/* Styling for the fixed buttons */
.fixed-buttons {
position: fixed;
bottom: 20px;
right: 20px;
z-index: 49;
}
		
/* Styling for the chat buttons container */
.chat-buttons-container {
position: fixed;
bottom: 60px; /* Adjust the position as needed */
right: 5px; /* Adjust the position as needed */
display: none;
flex-direction: column-reverse; /* Align chat buttons above the activator button */
align-items: flex-end; /* Align buttons to the right */
gap: 10px;
}
		
/* Styling for the chat buttons */
.chat-button {
width: 50px;
height: 50px;
border-radius: 50%;
display: flex;
align-items: center;
justify-content: center;
cursor: pointer;
transition: background-color 0.3s; /* Added background transition */
}
		
/* Styling for chat button icons */
.chat-button svg {
width: 100%;
height: 100%;
fill: #ffffff;
stroke: none;
}
		
/* Styling for the active chat buttons */
.chat-button.active {
background-color: #007bff; /* Characterized color for active buttons */
border: 1px solid #000; /* Black border for active buttons */
}
		
/* Styling for the chat button labels */
.chat-label {
position: absolute;
right: 55px; /* Position label to the right of the activator button */
<!-- margin-top: 5px; /* Adjust the margin as needed */ -->
<!-- text-align: right; -->
text-align: left;
font-size: 12px;
color: #808080;
background: #F0F0F0;
}
		
/* Styling for the floating activator button */
.chat-activator {
position: fixed;
bottom: 5px;
right: 5px;
width: 50px;
height: 50px;
background-color: #237b7b; /* Green background color */
border-radius: 50%;
border: 0.5px solid white;
display: flex;
align-items: center;
justify-content: center;
cursor: pointer;
transition: background-color 0.3s; /* Added background transition */
z-index: 49;
}

/* Media query for desktop version (screen width greater than 768px) */
@media (min-width: 769px) {
/* Hide all chat buttons except Messenger */
.chat-button:not(#chat-button-4) {
display: none !important;
}
/* [id^="st-el-"] .st-btn[data-network="messenger"] { */
/* background: linear-gradient(39.47deg,#09f 6.82%,#a033ff 48.51%,#ff5280 75.25%,#ff7061 87.06%) !important; */
/* } */
}
		
/* Media query for mobile devices (screen width less than 768px) */
	@media (max-width: 768px) {
/* Adjust the position of activator and chat buttons for mobile */
.chat-activator {
	bottom: 10px;
	<!-- bottom: 40px; -->
	right: 10px;
	border: 1px solid white;
	/* z-index: 49; */
}
		
.chat-buttons-container {
	bottom: 70px; /* Adjust the position as needed for mobile */
	<!-- bottom: 100px; -->
	right: 10px;
	/* z-index: 49; */
}
	/* [id^="st-el-"] .st-btn[data-network="messenger"] { */
	/* background: linear-gradient(39.47deg,#09f 6.82%,#a033ff 48.51%,#ff5280 75.25%,#ff7061 87.06%) !important; */
	/* } */
}
