 .u-section-1 {
  background-image: none;
  min-height: 841px;
}

.u-section-1 .u-image-1 {
  width: 841px;
  min-height: 345px;
  background-image: url("images/001_150.png");
  background-position: 50% 50%;
  --animation-custom_in-scale: 0.3;
  margin: 496px 50px 0 349px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-shape-1 {
  height: 294px;
  background-image: none;
  margin-top: -540px;
  margin-bottom: 0;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-shape-2 {
  width: 613px;
  height: 488px;
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -458px calc(((100% - 1140px) / 2)  + 143px) 0 auto;
}

.u-section-1 .u-image-2 {
  width: 610px;
  height: 610px;
  object-position: 38.87% 50%;
  box-shadow: 0 0 25px 0 rgba(0,0,0,0.3);
  background-image: url("images/Iva_relax_pilates_page.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1.18;
  margin: -595px auto 0 calc(((100% - 1140px) / 2)  + 164px);
}

.u-section-1 .u-group-2 {
  width: 1110px;
  min-height: 237px;
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  height: auto;
  margin: -66px 80px 30px 50px;
}

.u-section-1 .u-container-layout-2 {
  padding: 0 40px;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 700;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.125rem;
  line-height: 1.8;
  margin: 28px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-1 {
    margin-right: 0;
    margin-left: 99px;
  }

  .u-section-1 .u-shape-2 {
    margin-right: calc(((100% - 940px) / 2)  + 107px);
  }

  .u-section-1 .u-image-2 {
    margin-left: calc(((100% - 940px) / 2)  + 30px);
  }

  .u-section-1 .u-group-2 {
    width: 940px;
    margin-right: calc(((100% - 940px) / 2)  + 44px);
    margin-left: calc(((100% - 940px) / 2));
    height: auto;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.75rem;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 799px;
  }

  .u-section-1 .u-image-1 {
    width: 720px;
    margin-top: 438px;
    margin-right: 100px;
    margin-left: 0;
  }

  .u-section-1 .u-shape-2 {
    margin-top: -459px;
    margin-right: auto;
  }

  .u-section-1 .u-image-2 {
    margin-top: -549px;
    margin-left: calc(((100% - 720px) / 2)  + -14px);
  }

  .u-section-1 .u-group-2 {
    width: 720px;
    margin: -111px 50px 44px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 1025px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    margin-right: 0;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-shape-2 {
    width: 540px;
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-image-2 {
    width: 540px;
    height: 540px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-group-2 {
    width: 540px;
    margin: -41px calc(((100% - 540px) / 2)  + 14px) 60px calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 714px;
  }

  .u-section-1 .u-image-1 {
    width: calc(((100% - 340px) / 2)  + 290px);
    min-height: 313px;
    margin-top: 398px;
    margin-right: auto;
  }

  .u-section-1 .u-shape-1 {
    margin-top: -578px;
  }

  .u-section-1 .u-shape-2 {
    width: 340px;
    margin-top: -370px;
    margin-right: calc(((100% - 340px) / 2)  + -11px);
  }

  .u-section-1 .u-image-2 {
    width: 340px;
    height: 340px;
    margin-top: -530px;
    margin-left: calc(((100% - 340px) / 2)  + -17px);
  }

  .u-section-1 .u-group-2 {
    width: 340px;
    min-height: 383px;
    margin: -54px auto 30px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2rem;
  }

  .u-section-1 .u-text-2 {
    font-size: 1rem;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 12px;
}.u-section-3 .u-sheet-1 {
  min-height: 341px;
}

.u-section-3 .u-list-1 {
  margin: 15px 0;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: repeat(4, calc(25% - 7.5px));
  min-height: 311px;
  grid-gap: 10px;
}

.u-section-3 .u-list-item-1 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 20px;
}

.u-section-3 .u-text-1 {
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 500;
  margin: 20px auto 0;
}

.u-section-3 .u-text-2 {
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-3 .u-btn-1 {
  border-style: solid;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-3 .u-list-item-2 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 20px;
}

.u-section-3 .u-text-3 {
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 500;
  margin: 20px auto 0;
}

.u-section-3 .u-text-4 {
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-3 .u-btn-2 {
  border-style: solid;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-3 .u-list-item-3 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
}

.u-section-3 .u-container-layout-3 {
  padding: 30px 20px;
}

.u-section-3 .u-text-5 {
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 500;
  margin: 20px auto 0;
}

.u-section-3 .u-text-6 {
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-3 .u-btn-3 {
  border-style: solid;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-3 .u-list-item-4 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
}

.u-section-3 .u-container-layout-4 {
  padding: 30px 20px;
}

.u-section-3 .u-text-7 {
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 500;
  margin: 20px auto 0;
}

.u-section-3 .u-text-8 {
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-3 .u-btn-4 {
  border-style: solid;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 20px auto 0;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 255px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 617px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 5px));
    min-height: 550px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1026px;
  }

  .u-section-3 .u-list-1 {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 986px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-bottom: 0;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 0;
  }

  .u-section-3 .u-text-2 {
    margin-top: 19px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-bottom: 0;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-top: 0;
  }

  .u-section-3 .u-text-4 {
    margin-top: 19px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-bottom: 0;
  }

  .u-section-3 .u-text-5 {
    width: auto;
    margin-top: 0;
  }

  .u-section-3 .u-text-6 {
    margin-top: 19px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-bottom: 0;
  }

  .u-section-3 .u-text-7 {
    width: auto;
    margin-top: 0;
  }

  .u-section-3 .u-text-8 {
    margin-top: 19px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 12px;
} .u-section-5 {
  min-height: 1131px;
}

.u-section-5 .u-image-1 {
  --radius: 10px;
  width: 1168px;
  height: 620px;
  margin: 0 36px;
}

.u-section-5 .u-shape-1 {
  width: 245px;
  height: 245px;
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  margin: -672px calc(((100% - 1140px) / 2)  + -122px) 0 auto;
}

.u-section-5 .u-shape-2 {
  width: 306px;
  height: 306px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 262px 1037px 0 -103px;
}

.u-section-5 .u-group-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  height: auto;
  margin: -177px 0 0;
}

.u-section-5 .u-container-layout-1 {
  padding: 9px 40px 10px;
}

.u-section-5 .u-text-1 {
  margin: 7px auto 0 0;
}

@media (max-width: 1199px) {
   .u-section-5 {
    min-height: 1712px;
  }

  .u-section-5 .u-image-1 {
    width: 940px;
    height: 499px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-shape-1 {
    margin-top: -551px;
    margin-right: calc(((100% - 940px) / 2) + -122px);
  }

  .u-section-5 .u-shape-2 {
    margin-right: 887px;
  }

  .u-section-5 .u-group-1 {
    margin-right: initial;
    margin-left: initial;
    height: auto;
  }

  .u-section-5 .u-text-1 {
    margin-top: 20px;
  }
}

@media (max-width: 991px) {
   .u-section-5 {
    min-height: 1166px;
  }

  .u-section-5 .u-image-1 {
    height: 382px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-shape-1 {
    margin-top: -504px;
    margin-right: calc(((100% - 720px) / 2)  + -172px);
  }

  .u-section-5 .u-shape-2 {
    margin-top: 107px;
    margin-right: auto;
    margin-left: calc(((100% - 720px) / 2)  + -203px);
  }

  .u-section-5 .u-group-1 {
    margin-top: -124px;
    margin-bottom: 9px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-container-layout-1 {
    padding: 0 30px;
  }

  .u-section-5 .u-text-1 {
    width: auto;
    margin-top: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-image-1 {
    height: 287px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-shape-1 {
    margin-top: -339px;
    margin-right: calc(((100% - 540px) / 2) + -172px);
  }

  .u-section-5 .u-shape-2 {
    margin-left: calc(((100% - 540px) / 2) + -203px);
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 575px) {
   .u-section-5 {
    min-height: 1397px;
  }

  .u-section-5 .u-image-1 {
    height: 181px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-shape-1 {
    width: 100px;
    height: 100px;
    margin-top: -231px;
    margin-right: calc(((100% - 340px) / 2)  + -100px);
  }

  .u-section-5 .u-shape-2 {
    width: 130px;
    height: 130px;
    margin-top: 63px;
    margin-right: 375px;
    margin-left: -65px;
  }

  .u-section-5 .u-group-1 {
    min-height: 1220px;
    margin-top: -65px;
    margin-bottom: -1px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 25px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 12px;
} .u-section-7 {
  background-image: url("images/default-image.jpg");
  min-height: 580px;
}

.u-section-7 .u-image-1 {
  height: 578px;
  margin: -10px 0 0;
}

.u-section-7 .u-list-1 {
  width: 214px;
  margin: -433px 147px 0 879px;
}

.u-section-7 .u-repeater-1 {
  grid-template-columns: repeat(1, 100%);
  min-height: 310px;
  grid-auto-columns: 100%;
  grid-gap: 21px;
}

.u-section-7 .u-list-item-1 {
  background-image: none;
}

.u-section-7 .u-container-layout-1 {
  padding: 0;
}

.u-section-7 .u-icon-1 {
  height: 64px;
  width: 64px;
  margin: 30px auto 0;
}

.u-section-7 .u-text-1 {
  margin: 10px auto 0;
}

.u-section-7 .u-list-item-2 {
  background-image: none;
}

.u-section-7 .u-container-layout-2 {
  padding: 0;
}

.u-section-7 .u-icon-2 {
  height: 64px;
  width: 64px;
  margin: 30px auto 0;
}

.u-section-7 .u-text-2 {
  margin: 10px auto 0;
}

.u-section-7 .u-layout-wrap-1 {
  width: 575px;
  margin: -408px 561px 37px 104px;
}

.u-section-7 .u-layout-cell-1 {
  min-height: 506px;
}

.u-section-7 .u-container-layout-3 {
  padding: 30px 28px 0;
}

.u-section-7 .u-text-3 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 0 auto 0 4px;
}

.u-section-7 .u-form-1 {
  height: 370px;
  margin: 21px 10px 0 0;
}

.u-section-7 .u-label-1 {
  font-weight: 700;
}

.u-section-7 .u-input-1 {
  --radius: 10px;
}

.u-section-7 .u-label-2 {
  font-weight: 700;
}

.u-section-7 .u-input-2 {
  --radius: 10px;
}

.u-section-7 .u-label-3 {
  font-weight: 700;
}

.u-section-7 .u-input-3 {
  --radius: 10px;
}

.u-section-7 .u-btn-1 {
  background-image: none;
  border-style: none;
  text-transform: uppercase;
  width: 100%;
  font-weight: 700;
  padding: 10px 0;
}

@media (max-width: 1199px) {
   .u-section-7 {
    background-position: 50% 50%;
    min-height: 478px;
  }

  .u-section-7 .u-image-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-list-1 {
    margin-right: calc(((100% - 940px) / 2)  + 65px);
    margin-left: 726px;
  }

  .u-section-7 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-right: 365px;
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-7 .u-form-1 {
    width: 241px;
  }
}

@media (max-width: 991px) {
   .u-section-7 {
    min-height: 664px;
  }

  .u-section-7 .u-image-1 {
    margin-top: 54px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-list-1 {
    width: 532px;
    margin-top: -611px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-7 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 10.5px));
    grid-auto-columns: calc(50% - 10.5px);
    min-height: 188px;
  }

  .u-section-7 .u-icon-1 {
    margin-top: 50px;
  }

  .u-section-7 .u-icon-2 {
    margin-top: 50px;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin: 10px 123px -12px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 457px;
  }

  .u-section-7 .u-form-1 {
    width: 512px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 767px) {
   .u-section-7 {
    min-height: 498px;
  }

  .u-section-7 .u-image-1 {
    height: 508px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-list-1 {
    width: 214px;
    margin-right: calc(((100% - 540px) / 2)  + 81px);
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-7 .u-layout-wrap-1 {
    width: 540px;
    margin-right: 0;
    margin-bottom: 37px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-7 .u-form-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 575px) {
   .u-section-7 {
    min-height: 672px;
  }

  .u-section-7 .u-image-1 {
    margin-top: 149px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-list-1 {
    width: 284px;
    margin-top: -642px;
    margin-right: auto;
  }

  .u-section-7 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 5px));
    grid-auto-columns: calc(50% - 5px);
    min-height: 121px;
    grid-gap: 10px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-7 .u-icon-1 {
    margin-top: 0;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-7 .u-icon-2 {
    margin-top: 0;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-top: 28px;
    margin-bottom: -28px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-7 .u-container-layout-3 {
    padding-top: 3px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-7 .u-text-3 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-form-1 {
    margin-top: 19px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-8 .u-sheet-1 {
  min-height: 12px;
}

    /* Styling for the fixed buttons */
    .fixed-buttons {
      position: fixed;
      bottom: 20px;
      right: 20px;
      z-index: 49;
    }

    /* Styling for the chat buttons container */
    .chat-buttons-container {
      position: fixed;
      bottom: 60px; /* Adjust the position as needed */
      right: 5px; /* Adjust the position as needed */
      display: none;
      flex-direction: column-reverse; /* Align chat buttons above the activator button */
      align-items: flex-end; /* Align buttons to the right */
      gap: 10px;
    }

    /* Styling for the chat buttons */
    .chat-button {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      transition: background-color 0.3s; /* Added background transition */
    }

    /* Styling for chat button icons */
    .chat-button svg {
      width: 100%;
      height: 100%;
      fill: #ffffff;
      stroke: none;
    }

    /* Styling for the active chat buttons */
    .chat-button.active {
      background-color: #007bff; /* Characterized color for active buttons */
      border: 1px solid #000; /* Black border for active buttons */
    }

    /* Styling for the chat button labels */
    .chat-label {
     position: absolute;
      right: 55px; /* Position label to the right of the activator button */
      <!-- margin-top: 5px; /* Adjust the margin as needed */ -->
      <!-- text-align: right; -->
	  text-align: left;
      font-size: 12px;
      color: #808080;
	  background: #F0F0F0;
    }

    /* Styling for the floating activator button */
    .chat-activator {
      position: fixed;
      bottom: 5px;
      right: 5px;
      width: 50px;
      height: 50px;
      background-color: #237b7b; /* Green background color */
      border-radius: 50%;
	  border: 0.5px solid white;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      transition: background-color 0.3s; /* Added background transition */
	  z-index: 49;
    }
	
	/* Media query for desktop version (screen width greater than 768px) */
	@media (min-width: 769px) {
    /* Hide all chat buttons except Messenger */
    .chat-button:not(#chat-button-4) {
      display: none !important;
    }
	/* [id^="st-el-"] .st-btn[data-network="messenger"] { */
	/* background: linear-gradient(39.47deg,#09f 6.82%,#a033ff 48.51%,#ff5280 75.25%,#ff7061 87.06%) !important; */
	/* } */
}
  
  /* Media query for mobile devices (screen width less than 768px) */
	@media (max-width: 768px) {
  /* Adjust the position of activator and chat buttons for mobile */
  .chat-activator {
    /* bottom: 40px; */
    bottom: 10px;
    right: 10px;
	border: 1px solid white;
	/* z-index: 49; */
  }

  .chat-buttons-container {
    /* bottom: 100px; */
    bottom: 70px; /* Adjust the position as needed for mobile */
	right: 10px;
	/* z-index: 49; */
  }
	/* [id^="st-el-"] .st-btn[data-network="messenger"] { */
	/* background: linear-gradient(39.47deg,#09f 6.82%,#a033ff 48.51%,#ff5280 75.25%,#ff7061 87.06%) !important; */
	/* } */
}
