.u-section-1 .u-sheet-1 {
  min-height: 1556px;
}

.u-section-1 .u-text-1 {
  margin: 14px auto 0;
}

.u-section-1 .u-text-2 {
  margin: 20px auto 0;
}

.u-section-1 .u-btn-1 {
  --radius: 6px;
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: 26px 467px 0;
  padding: 8px 33px;
}

.u-section-1 .u-text-3 {
  font-size: 1rem;
  margin: 23px 14px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-btn-1 {
    margin-left: 367px;
    margin-right: 367px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1909px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 257px;
    margin-left: 257px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-btn-1 {
    margin-left: 167px;
    margin-right: 167px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2898px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 21px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 67px;
    margin-left: 67px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 85px;
}

.u-section-2 .u-btn-1 {
  --radius: 6px;
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: 23px auto;
  padding: 8px 33px;
}